.mainheading{margin-left: 25px; 
    padding-left: 100px;
    padding-right: 100px;
    
padding-top: 10px;
color: white; padding-right: 50px;
}
.note1{padding-left: 20px;
    padding-top: 50px;
color: white;
margin-right: 10px;
}
body{background-image: url(/images/notes\ background\ image.jpg);}


.history{background-color: aliceblue;color:black;border-style: double;border-color: black;border-radius: 4px; margin-left: 20px;
}

.backbutton{
    background-image: url("/images/back-arrow.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
  }

  .political{background-color: aliceblue;color: black;
    border-style: double; border-color: black;border-radius: 4px;margin-left: 20px;

}
